<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425521095932-j8906rrribot0prk0juf5a4panuohm4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425521095932-j8906rrribot0prk0juf5a4panuohm4b</string>
	<key>API_KEY</key>
	<string>AIzaSyDhclzPUZG7b9M-SYB3YbNlQfontMaHoRg</string>
	<key>GCM_SENDER_ID</key>
	<string>425521095932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.jiayin.PatientHealthChart</string>
	<key>PROJECT_ID</key>
	<string>healthchart-3e1b3</string>
	<key>STORAGE_BUCKET</key>
	<string>healthchart-3e1b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425521095932:ios:ff0be314b0b64a26bd2379</string>
</dict>
</plist>